<div id="top-content" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center rocket-animation-holder">
        <div class="rocket-animation">
          <div class="rocket">
              <img src="assets/airplane.png" width="136" height="190">
              <span class="rocket-line rline1"></span>
              <span class="rocket-line rline2"></span>
              <span class="rocket-line rline3"></span>
          </div>
          <div class="cloud cloud1"><img src="assets/cloud.png" width="60" height="35"></div>
          <div class="cloud cloud2"><img src="assets/cloud.png" width="60" height="35"></div>
          <div class="cloud cloud3"><img src="assets/cloud.png" width="60" height="35"></div>
        </div>
        <h1>Where 2</h1>
        <h4>How Long Could You Travel For?</h4>
        <div class="domain-form-holder">
          <%= form_tag("/search", method: "get") do %>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-md-12 domain-text-holder">
                  <%= number_field_tag (:budget), "", class: "domain-text input-box", min: 0, placeholder: "$USD" %>
                  <%= select_tag "country", options_for_select(Countries.CountryList), class: "domain-text input-box", prompt: "Select Country" %>
                  <br>
                  <%= submit_tag 'Explore!', class: "btn-go" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 row-title">
        <h4>...</h4>
        <h5>Created by <a target="_blank" href="https://www.linkedin.com/in/justinlamarmartin">Justin</a></h5>
      </div>
    </div>
  </div>
</div>