<div id="top-content" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center rocket-animation-holder">
        <div class="rocket-animation">
          <div class="rocket">
              <img src="assets/airplane.png" width="136" height="190">
              <span class="rocket-line rline1"></span>
              <span class="rocket-line rline2"></span>
              <span class="rocket-line rline3"></span>
          </div>
          <div class="cloud cloud1"><img src="assets/cloud.png" width="60" height="35"></div>
          <div class="cloud cloud2"><img src="assets/cloud.png" width="60" height="35"></div>
          <div class="cloud cloud3"><img src="assets/cloud.png" width="60" height="35"></div>
        </div>
        <h1>Where 2</h1>
        <h4>How Long Could You Travel For?</h4>
        <div class="domain-form-holder">
          <%= form_tag("/search", method: "get") do %>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-md-12 domain-text-holder">
                  <%= number_field_tag (:budget), "", class: "domain-text input-box", min: 0, placeholder: "$USD" %>
                  <%= select_tag "country", options_for_select(Countries.CountryList), class: "domain-text input-box", prompt: "Select Country" %>
                  <br>
                  <%= submit_tag 'Explore!', class: "btn-go" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="info" class="container-fluid color-override-background">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 row-title">
        <h4 class="color-override-header">Ready To Roll</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div id="info-box2" class="info-box opened-info">
          <div class="info-icon"><i class="fa fa-money"></i></div>
          <div class="info-title color-override-info-title">Dollars and Destinations</div>
          <div class="info-circle"><div class="circle-icon"></div></div>
        </div>
      </div>
    <div class="col-xs-12 col-md-4">
        <div id="info-box3" class="info-box">
          <div class="info-icon"><i class="hroc hroc-technology "></i></div>
          <div class="info-title color-override-info-title">Get An Idea</div>
          <div class="info-circle"><div class="circle-icon"></div></div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div id="info-box4" class="info-box">
          <div class="info-icon"><i class="hroc hroc-search"></i></div>
          <div class="info-title color-override-info-title">Get Out There</div>
          <div class="info-circle"><div class="circle-icon"></div></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="info-text2" class="container-fluid info-text-holder">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="info-title-icon">
          <i class="hroc hroc-transport"></i>
          <div>Dollars and Destinations</div>
        </div>
        <div class="info-text">
          How far can your dollar take you? Let's find out how long you could last out there in the world!
        </div>
      </div>
    </div>
  </div>
</div>
<div id="info-text3" class="container-fluid info-text-holder info-closed">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="info-title-icon">
          <i class="hroc hroc-technology"></i>
          <div>Get An Idea</div>
        </div>
        <div class="info-text">
          It's where it all starts! Whether you're living out of a backpack or living in luxury, Where 2 can help you by giving you insight on what costs to expect.
        </div>
      </div>
    </div>
  </div>
</div>
<div id="info-text4" class="container-fluid info-text-holder info-closed">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="info-title-icon">
          <i class="hroc hroc-search"></i>
          <div>Get Out There</div>
        </div>
        <div class="info-text">
          Explore! It doesn't matter if it's a few days, few months, or even a few years. Start saving or take the leap. You won't be disappointed!
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer" class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 row-title">
        <h4>...</h4>
        <h5>Created by <a target="_blank" href="https://www.linkedin.com/in/justinlamarmartin">Justin</a></h5>
      </div>
    </div>
  </div>
</div>