<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
<title>Where 2</title>
<link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="assets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="assets/slick.css">
<link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
    
<body>
<nav id="mainNav" class="navbar navbar-default navbar-full">
    <div class="container container-nav">
    </div>
</nav>
<div id="top-content" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center rocket-animation-holder">
                <div class="rocket-animation">
                    <div class="rocket">
                        <img src="assets/airplane.png" width="136" height="190">
                        <span class="rocket-line rline1"></span>
                        <span class="rocket-line rline2"></span>
                        <span class="rocket-line rline3"></span>
                    </div>
                    <div class="cloud cloud1"><img src="assets/cloud.png" width="60" height="35"></div>
                    <div class="cloud cloud2"><img src="assets/cloud.png" width="60" height="35"></div>
                    <div class="cloud cloud3"><img src="assets/cloud.png" width="60" height="35"></div>
                </div>
                <h1>Where 2?</h1>
                <h4>See How Long You Could Travel For!</h4>
                <div class="domain-form-holder">
                    <%= form_tag("/search", method: "get") do %>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12 col-md-9 domain-text-holder">
                                  <%= text_field_tag (:budget), "", class: "domain-text" %>
                                  <br>
                                  <br>
                                  <%= select_tag "country", options_for_select(@countries), class: "domain-text" %>
                                </div>
                                <div class="col-xs-12 col-md-3 btn-go-holder">
                                  <%= submit_tag 'Explore!', class: "btn-go" %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer" class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 row-title">
                <h4>...</h4>
                <h5>Created by Justin<br>
                    Powered by BudgetYourTrip.</h5>
            </div>
        </div>
    </div>
</div>

<script src="assets/jquery.min.js"></script> 
<script src="assets/bootstrap.min.js"></script>
<script src="assets/createjs.min.js"></script>
<script src="assets/slick.min.js"></script>
<script src="assets/main.js"></script>
</body>
