<!DOCTYPE html>
<html>
  <head>
    <title>Where2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
		<title>Where 2</title>
		<link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/slick.css">
		<link rel="stylesheet" type="text/css" href="assets/style.css">
  </head>

  <body>
    <%= yield %>


    <script src="assets/jquery.min.js"></script> 
		<script src="assets/bootstrap.min.js"></script>
		<script src="assets/createjs.min.js"></script>
		<script src="assets/slick.min.js"></script>
		<script src="assets/main.js"></script>

  </body>
</html>
